/Unused/Java-client/nbproject/private/
/Unused/Java-client/build/

/Ollie-competition/OllieCompetition/nbproject/private/
/Ollie-competition/OllieCompetition/build/
/Ollie-competition/OllieCompetition/dist/

/Ollie-competition/Server-Cylon-Generator/build/
/Ollie-competition/Server-Cylon-Generator/nbproject/private/

/Ollie-competition/ServerOllie/target/

catchmouse/.*
catchmouse/target/*

*.class
*.jar
.mtj.tmp/
*.war
*.ear

