/Unused/Java-client/nbproject/private/
/Unused/Java-client/build/
/Ollie-competition/OllieCompetition/nbproject/private/
/Ollie-competition/OllieCompetition/build/
/Ollie-competition/OllieCompetition/dist/
/Ollie-competition/Server-Cylon-Generator/build/
/Ollie-competition/Server-Cylon-Generator/nbproject/private/
catchmouse/.*
catchmouse/target/*
amazon/amazon
amazon/web
amazon/web.pub

*.class
*.jar
.mtj.tmp/
*.war
*.ear
