<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoggedInFilter</filter-name>
        <filter-class>com.iteazer.servlets.LoggedInFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoggedInFilter</filter-name>
        <servlet-name>com.iteazer.servlets.CalibrateOllieServlet</servlet-name>
        <url-pattern>/doCommands.jsp</url-pattern>
        <url-pattern>/doCommandsFinal.jsp</url-pattern>
        <url-pattern>/performCommands.jsp</url-pattern>
        <url-pattern>/performCommandsFinal.jsp</url-pattern>
        <url-pattern>/profile.jsp</url-pattern>
        <url-pattern>/calibrate.jsp</url-pattern>
    </filter-mapping>    
    <filter>
        <filter-name>FinalSubmissionFilter</filter-name>
        <filter-class>com.iteazer.servlets.FinalSubmissionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FinalSubmissionFilter</filter-name>
        <url-pattern>/doCommandsFinal.jsp</url-pattern>
        <url-pattern>/performCommandsFinal.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>com.iteazer.servlets.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <url-pattern>/admin.jsp</url-pattern>
        <url-pattern>/adminDoFinalSubmissions.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SetSbmStatusServlet</servlet-name>
        <servlet-class>com.iteazer.servlets.SetSbmStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdSolutionStatusServlet</servlet-name>
        <servlet-class>com.iteazer.servlets.UpdSolutionStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalibrateOllieServlet</servlet-name>
        <servlet-class>com.iteazer.servlets.CalibrateOllieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeserializedResultsServlet</servlet-name>
        <servlet-class>com.iteazer.servlets.DeserializedResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.iteazer.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalSubmissionServlet</servlet-name>
        <servlet-class>com.iteazer.servlets.FinalSubmissionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SetSbmStatusServlet</servlet-name>
        <url-pattern>/SetSbmStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdSolutionStatusServlet</servlet-name>
        <url-pattern>/UpdSolutionStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalibrateOllieServlet</servlet-name>
        <url-pattern>/CalibrateOllieServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeserializedResultsServlet</servlet-name>
        <url-pattern>/DeserializedResultsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalSubmissionServlet</servlet-name>
        <url-pattern>/FinalSubmissionServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
