<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.iteazer.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setSbmStatusServlet</servlet-name>
        <servlet-class>com.iteazer.servlets.setSbmStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updSolutionStatus</servlet-name>
        <servlet-class>com.iteazer.servlets.updSolutionStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>calibrateServlet</servlet-name>
        <servlet-class>com.iteazer.servlets.calibrateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>setSbmStatusServlet</servlet-name>
        <url-pattern>/setSbmStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updSolutionStatus</servlet-name>
        <url-pattern>/updSolutionStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>calibrateServlet</servlet-name>
        <url-pattern>/calibrateServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
